.headerContainer {
  width: 40%;
  padding: 10px 20px;
  background-color: black;
}

.headerLogo {
  width: 50px;
}

.headerWarp {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
}

.headerLogo {
  margin-bottom: 30px;
}

.headerBox {
  display: flex;
  margin-bottom: 30px;
}


.headerBox :nth-child(2) {
  margin-left: 10px;
}

.header_button {
  width: 230px;
  height: 52px;
  background-color: #1C9BF0;
  color: white;
  font-size: 17px;
  border-radius: 30px;
  border: none;
}