.mainContents_box {
  width: 70%;
  background-color: black;
  height: 100vh;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.fixed {
  top: 0;
  position: sticky;
  padding: 20px;
  display: block;
  background-color: black;
  color: white;
}