.mainWarp {
  display: flex;
  background-color: black;
  padding: 40px 20px;
  border-bottom: 1px solid white;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
}

.fixed {
  top: 0;
  position: fixed;
  padding: 20px;
  display: block;
  background-color: black;
  color: white;
}
.postWarp {
  margin-top: 50px;
  padding: 20px;
  border-bottom: 1px solid white;
  background-color: black;
}

.postWarp h2 {
  margin-bottom: 30px;
}

.addPostArea {
  display: flex;
  margin-bottom: 30px;
}

.addPostArea textarea {
  width: 100%;
  background-color: black;
  border: none;
  height: 50px;
  color: white;
}

.addPostArea textarea::placeholder {
  font-size: 30px;
}

.profileImg {
  margin-right: 20px;
}

.profileImg img {
  width: 50px;
}

.btnWarp {
  display: flex;
  justify-content: flex-end;
}

.btnWarp button {
  width: 100px;
  height: 36px;
  background-color: #1c9bf0;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}
.profile_background {
  background-color: gray;
  width: 30rem;
  height: 15rem;
}
.profile_myInfo {
  width: 30rem;
  height: 15rem;
  color: aliceblue;
}
.myInfo_icon {
  width: 130px;
  height: 130px;
}
.profile_myInfo button {
  width: 100px;
  height: 36px;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border-color: white;
}
