.mainWarp {
  display: flex;
  background-color: black;
  padding: 40px 20px;
  border-bottom: 1px solid white;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
}

.fixed {
  top: 0;
  position: fixed;
  padding: 20px;
  display: block;
  background-color: black;
  color: white;
}
.postWarp {
  margin-top: 50px;
  padding: 20px;
  border-bottom: 1px solid white;
  background-color: black;
}

.postWarp h2 {
  margin-bottom: 30px;
}

.addPostArea {
  display: flex;
  margin-bottom: 30px;
}

.addPostArea textarea {
  width: 100%;
  background-color: black;
  border: none;
  height: 50px;
  color: white;
}

.addPostArea textarea::placeholder {
  font-size: 30px;
}

.profileImg {
  margin-right: 20px;
}

.profileImg img {
  width: 50px;
}

.btnWarp {
  display: flex;
  justify-content: flex-end;
}

.btnWarp button {
  width: 100px;
  height: 36px;
  background-color: #1c9bf0;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}
.profile_background {
  background-color: gray;
  width: 30rem;
  height: 15rem;
  position: relative;
}
.profile_myInfo {
  width: 29rem;
  height: 15rem;
  color: aliceblue;
  position: absolute;
  top: 270px;
  margin-left: 20px;
}
.myInfo_icon {
  width: 130px;
  height: 130px;
  background-color: rgb(98, 36, 114);
  border-radius: 100px;
}
.myInfo_editBtn {
  display: flex;
  margin-right: 20px;
  align-items: flex-end;
}
.editBtn_btn {
  width: 100px;
  height: 36px;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border-color: white;
}
.layoutEdit {
  display: flex;
  justify-content: space-between;
}
.myInfo_email {
  margin-top: 10px;
}
myInfo_follower {
}
.myInfo_tab {
}
.tab_button {
  width: 8rem;
  background-color: unset;
  color: white;
  height: 2rem;
  margin: 10px;
  border-style: none;
}
.tab_button:hover {
  background-color: rgb(48, 45, 45);
  /* opacity: 0.3; */
  border-bottom: rgb(15, 124, 240) 2px;
}
.myInfo_follower {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(167, 162, 162);
  padding: 5px;
  margin: 10px 10px 0 0;
}
.number {
  font-weight: 700;
  /* margin-left: 10px; */
}
